.content-wrapper
  %section.content-header
    .container-fluid
      .row.mb-2
        .col-sm-6
          %h1= page_title
        .col-sm-6
          %ol.breadcrumb.float-sm-right
            = content_for(:breadcrumb)
  %section.content
    .container-fluid
      = content
