!!!
%html
  = render partial: 'layouts/olivander/adminlte/head'
  %body.hold-transition.login-page
    .login-box
      -# .login-logo
      -#   %img.brand-image.img-circle.elevation-3{:alt => @context.logo.alt, :src => @context.logo.url, :style => "opacity: .8"}
      .card
        .card-header.text-center{ class: sidebar_background_class }
          %a.h1{ href: '/' }
            %b= sidebar_context_name
        .card-body
          = render partial: 'layouts/olivander/adminlte/login_flashes'
          = yield
        .card-footer
          %p.small
            
