!!!
%html
  = render partial: 'layouts/olivander/adminlte/head'
  %body.hold-transition.login-page
    .login-box
      - unless Olivander::CurrentContext.application_context.login_logo.url.blank?
        %img{ alt: Olivander::CurrentContext.application_context.login_logo.alt, src: Olivander::CurrentContext.application_context.login_logo.url, style: "max-width: 100%; opacity: 1.0" }
      .card
        .card-header.text-center{ class: sidebar_background_class }
          %a.h1{ href: '/' }
            %b= sidebar_context_name
        .card-body
          = render partial: 'layouts/olivander/adminlte/login_flashes'
          = yield
        .card-footer
          %p.small
            
